*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
font-family: 'Noto Serif JP', serif;
background-color: #f9f7fd;
background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23000000' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
}

a{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    
}
.f:hover{
    opacity: 0.2;
}
.b:hover{
    opacity: 0.2;
}  
.c:hover{
    opacity: 0.2;
}  
.d:hover{
    opacity: 0.2;
}  
.e:hover{
    opacity: 0.2;
}  
.primero{
font-size: 17px;
display: flex;
background-color: #fff;
}

.menu{
    
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: rgba(14, 231, 43, 0.267);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(195, 207, 226, 0.342);
    transition: transform .5s ease-in-out;
}
.menu:hover{
       opacity: .5;
}
.menu.show{
    transform: translateX(-268px);
    background-color: rgba(231, 14, 14, 0.281);
}

.topics{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: linear-gradient(to top, rgb(161, 140, 209) 0%, rgb(251, 194, 235) 100%);
    height: 100%;
    padding: 120px;
    opacity: .9;
    transform: translate(400px);
    transition: transform .5s ease-in-out ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}


.topics.show{
    transform: translateX(30px);
}

.header-icon{
    width: 50px;
    margin-left:.5%;
    margin-block-start: .14%;
    margin-block-end: .14%;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}
.header{
    height: 75vh;
    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    border-bottom: 2px solid rgb(12, 12, 12);
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding-bottom: 50px;
}

.subtitulo{
    width: 600px;
    margin-top: 50px;
    margin-left:500px
    
   
}

.partida{

    margin-left: 50px;
}

.constelaciones{
    width: 800px;
    margin-left:300px;
    margin-top: 50px;
   

}

.septi{

    margin-left: 500px;
    margin-top: 50px;
}

.norte{

    margin-left: 600px;
}

.selectiom{

margin-left: 100px;

}

.cuerpo2{

    margin-left: 100px;

}

.NQ1{

  
    margin-top: 50px;
}

.NQ2{

  
    margin-top: 50px;
}

.NQ3{

  
    margin-top: 50px;
}

.NQ4{

  
    margin-top: 50px;
}

.and{

margin-top: 50px;
width: 500px;

}

.titland{
    height: 75vh;
    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    border-bottom: 2px solid rgb(12, 12, 12);
}

.ari{

    margin-top: 50px;
    width: 500px;
    
    }
    
    
.titlari{
        height: 75vh;
        background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center ;
        border-bottom: 2px solid rgb(12, 12, 12);
    }

.cas{

        margin-top: 50px;
        width: 500px;
        
        }
        
        
.titlcas{
            height: 75vh;
            background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center ;
            border-bottom: 2px solid rgb(12, 12, 12);
        }

.ori{

            margin-top: 50px;
            width: 500px;
            
            }
            
            
.titlori{
                height: 75vh;
                background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                background-position: center ;
                border-bottom: 2px solid rgb(12, 12, 12);
            }
        
.tri{

                margin-top: 50px;
                width: 500px;
                
                }
                
                
.titltri{
                    height: 75vh;
                    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center ;
                    border-bottom: 2px solid rgb(12, 12, 12);
                }
            
.aur{

                    margin-top: 50px;
                    width: 500px;
                    
                    }
                    
                    
.titlaur{
                        height: 75vh;
                        background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-attachment: fixed;
                        background-position: center ;
                        border-bottom: 2px solid rgb(12, 12, 12);
                    }

.cac{

                        margin-top: 50px;
                        width: 500px;
                        
                        }
                        
                        
.titlcac{
                            height: 75vh;
                            background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-attachment: fixed;
                            background-position: center ;
                            border-bottom: 2px solid rgb(12, 12, 12);
                        }

.caris{

                            margin-top: 50px;
                            width: 500px;
                            
                            }
                            
                            
.titlcaris{
                                height: 75vh;
                                background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-attachment: fixed;
                                background-position: center ;
                                border-bottom: 2px solid rgb(12, 12, 12);
                            }
.leo{

                                margin-top: 50px;
                                width: 500px;
                                
                                }
                                
                                
.titlleo{
                                    height: 75vh;
                                    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0) 0%, rgba(195, 207, 226, 0) 100%),url(./img/kristaps-ungurs-QUEPJuMMVKY-unsplash.jpg);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-attachment: fixed;
                                    background-position: center ;
                                    border-bottom: 2px solid rgb(12, 12, 12);
                                }